/* .btn{
    border: 1px blue solid;
    background-color: blue;
    border-radius: 5px;
    color: black;
} */
/* .btn-del{
    border: 1px red solid;
    background-color: red;
    border-radius: 5px;
    color: black;
   
} */